@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}
*{
    box-sizing: border-box;
}

body{
  background-image: url("../../assets/background.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Telex';
  font-style: normal;
}
.imagelogo{
  position:absolute;right:0px;bottom:0px;left:0%;

}


/* editing a picture */ 

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  position:absolute; top:6%;left:6%;
}

.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}

body {
  height: 100vh;
  background-color: #191815;
  display: flex;
  justify-content: center;
  align-items: center;
}
body a:hover {
  text-decoration: none;
}


/* editing profile css*/ 
.container{
    background-color: #ADBAA7;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width:55%;
    padding: 30px 40px;
    position:absolute; top:0px;right:0px;bottom:0px;left:45%;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 30px 40px;
    
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    margin-left: 10%;
}

.form-control label{
 
    display: block;
    margin-bottom: 5px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 25px;
    color: white;

}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 75%;
    padding: 10px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 25px;
    background-color: transparent;
    color:black; 
    
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.success input{
    border-color: var(--success-color);
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    
}

.form-control.error small{
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color:#155646;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 10%;
    margin-left: 38%;
}
.form button.hover {
color:green;
}
#success {
    color: var(--success-color);
}


